@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

* {
    font-family: 'Alegreya Sans', sans-serif;
}

body{
    background-color: rgb(242, 242, 242, 0.3);
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}


h1 {
    font-family:'Oswald', sans-serif;
    font-size: 24px; font-weight:400;
    text-transform: uppercase;
    color: black;
    padding:0; margin:0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9;
}

h3 {
    font-family: 'Oswald', sans-serif;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #2d2d2d;
}

p {
    font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
    font-size: 1.2rem;
    line-height: 30px;
    color: #565859;
    letter-spacing: 1.15px;
}

.firstCharacter {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(84, 169, 191);
}


.title {
    padding: 60px;
    margin: 0 auto;
    text-align:center;
}

.title h1 {
    font-size: 35px;
    letter-spacing: 8px;
}

.mainBody {
    padding: 60px;
    width: 820px;
    margin: 0 auto;
    text-align: justify;
}



.parallax1 {
    background-image: url(https://images.pexels.com/photos/261403/pexels-photo-261403.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350);
}

.parallax2 {
    background-image: url(https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.parallax3 {
    background-image: url(https://images.pexels.com/photos/1048033/pexels-photo-1048033.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350);
}

.parallaxDiv {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

a {
    color: #7a7a7a;
    font-variant-caps: all-small-caps;
    text-decoration: none;
    font-size: 1.4rem;
}


.nameTitle, .nameTitle > span {
    width: 100%;
    text-align: center;
    font-size: 800%;
    font-family:'Oswald', sans-serif;
    color: rgb(92, 185, 209);
    /* height: 100vh; */
    letter-spacing: 15px;
}

.nameTitle span {
    font-size: 250%;
    font-family: 'Oswald', sans-serif;
    position: relative;
    /* right: 0; */
    top: 400px;
    z-index: 5;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nameTitle span:hover{
    color: #7a7a7a;
}

nav {
    width: 74.5%;
    height: 5%;
    right: 0;
    z-index: 5;
    position: relative;
    top: -350px;
    left: 55%;
}

nav a {
    padding: 2%;
    padding-right: 20%;
    display: block;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
    color: #6d6d6d;
    text-align: left;
}

nav a:hover, a:hover {
    text-decoration: underline;
}

.final .aboutTheProject,
.socialNetwork .aboutTheProject,
.imageBoard .aboutTheProject,
.petition .aboutTheProject {
    display: none;
}
#project1:target .aboutTheProject,
#project2:target .aboutTheProject,
#project3:target .aboutTheProject,
#project4:target .aboutTheProject {
    display: inline;
}

.linkImg {
    width: 4.5%;
}

.projects {
    width: 100%;
    padding: 2%;
    padding-bottom: 10%;
    /* display: inline-block; */
}

#projects a {
    color: inherit;
    font-variant-caps: inherit;
}

.titleProjects,
.aboutTheProject {
    width: 100%;
    height: 20%;
    text-align: center;
    display: contents;
}

.aboutTheProject {
    text-align: justify;
}

.projectsSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


#project1, #project2, #project3, #project4 {
    width: 45%;

}

#contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#contactIntro {
    width: 100%;
    text-align: center;
    padding: 5%;
    padding-top: 0;
}

.contactLinks {
    color: inherit;
    font-variant-caps: inherit;
}


.contactLink {
    width: 28%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contactImages {
    width: 25%;
    margin: 0 auto;
    padding-bottom: 2%;
}

#chat {
    color: #28bf0d;
    font-weight: 500;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1024px) {
    *{
        text-align: center;
    }
  h2 {
      font-size:30px;
  }
  p {
      font-size: 2rem;
  }
  .parallax1, .parallax2, .parallax3 {
      padding-top:100px;
      padding-bottom:100px;
  }
  #project1, #project2, #project3, #project4 {
      width: 100%;
  }

  .projects img {
      height: 6%;
      width: 6%;
  }

}
